{:paths ["src" "resources" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.3"}
        ring/ring-json {:mvn/version "0.5.1"}
        io.github.dm3/clojure.java-time
        {:sha "bee12188b3e479eb7766946d6b5e89226bc67520"}
        compojure/compojure {:mvn/version "1.7.0"}
        selmer/selmer {:mvn/version "1.12.53"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        org.postgresql/postgresql {:mvn/version "42.4.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.2.891"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        org.apache.commons/commons-text {:mvn/version "1.9"}
        org.jsoup/jsoup {:mvn/version "1.15.2"}
        io.github.terop/cljwebauthn
        {:sha "bb262552d3e79bda6b975c71d06ec3d323d5580f"}}
 :aliases
 {:run {:main-opts ["-m" "ktra-indexer.handler"]}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.3" :git/sha "7ac1f8d"
                  ;; since we're building an app uberjar, we do not
                  ;; need deps-deploy for clojars.org deployment:
                  :deps/root "slim"}
                 badigeon/badigeon {:mvn/version "1.7"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :eastwood {:main-opts ["-m" "eastwood.lint"
                         ;; Any Eastwood options can be passed here as edn:
                         {}]
             :extra-deps {jonase/eastwood {:mvn/version "1.2.4"}}}
  :kibit {:extra-deps {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
          :main-opts  ["-m" "kibit-runner.cmdline"]}}}
