<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>KTRA indexer - add tracks</title>

        <!-- Bootstrap -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link href="css/common.css" rel="stylesheet">

        <style>
            .form-control {
                width: 60%;
            }
            div.alert {
                margin-top: 15px;
            }
        </style>
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">KTRA indexer</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/{{ url-path }}">Home</a></li>
                        <li class="active"><a href="#">Add</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% if not insert-status %}
                {% if not data %}
                    <div class="alert alert-danger" role="alert">The given episode could not be found</div>
                {% else  %}
                    <h3>Add tracks to episode {{episode-id}}</h3>

                    <form method="post" action="add-tracks">
                        <input type="hidden" id="encodedTracklist" name="encodedTracklist">
                        <label for="tracklist">New tracklist</label>
                        <textarea id="tracklist" class="form-control required" name="tracklist" cols="80"
                                  rows="20" required></textarea>
                        <br>
                        <input type="hidden" name="episode-id" value="{{episode-id}}">
                        <input type="submit" id="submitBtn" class="btn btn-primary" value="Submit">
                    </form>
                {% endif %}
            {% else %}
                {% ifequal insert-status.status :ok %}
                    <div class="alert alert-success" role="alert">Successfully added new tracks</div>
                {% else %}
                    <div class="alert alert-danger" role="alert">Error: failed to add tracks</div>
                {% endifequal %}
            {% endif %}
        </div>

        {% if not insert-status %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
	            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="js/parser.js"></script>
            <script>
                {% if data %}
                $('form').validate();

                // Handler for the submit button click event
                var clickHandler = function (event) {
                    var tracklistTa = document.getElementById('tracklist'),
                        tlArrayWithEmptyLines = tracklistTa.value.split('\n');
                    var tlArray = tlArrayWithEmptyLines.filter(function (value) {
                        return value.length > 0;
                    });

                    if (tlArray.length > 0) {
                        var encodedTracklist = parseTracklist(tlArray);
                        if (!encodedTracklist.length) {
                            alert('Error: tracklist is too short!');
                            event.preventDefault();
                            return;
                        }
                        document.getElementById('encodedTracklist').value = JSON.stringify(encodedTracklist);
                    }
                };

                document.getElementById('submitBtn').addEventListener('click', clickHandler, false);
                {% endif %}
            </script>
        {% endif %}
    </body>
</html>
