<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>KTRA indexer - add episode</title>

        <!-- Bootstrap -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
        <link href="css/bootstrap-datepicker3.min.css" rel="stylesheet">
        <link href="css/common.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
             <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
             <![endif]-->
        <style>
            .form-control {
                width: 60%;
            }
            div.alert {
                margin-top: 15px;
            }
        </style>
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">KTRA indexer</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/{{ url-path }}">Home</a></li>
                        <li class="active"><a href="#">Add</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% if not insert-status %}
                <h3>Add episode</h3>

                <form method="post" action="add">
                    <input type="hidden" id="encodedTracklist" name="encodedTracklist">
                    <label for="date">Episode date</label>
                    <input type="text" class="form-control" id="date" name="date" required>
                    <br>
                    <label for="name">Episode name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <br>
                    <label for="tracklist">Tracklist</label>
                    <textarea id="tracklist" class="form-control required" name="tracklist" cols="80"
                              rows="20" required></textarea>
                    <br>
                    <input type="submit" id="submitBtn" class="btn btn-primary" value="Submit">
                </form>
            {% else %}
                {% ifequal insert-status.status :ok %}
                    <div class="alert alert-success" role="alert">Successfully inserted episode</div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {% ifequal insert-status.cause :duplicate-episode %}
                            Error: duplicate episode insert attempted
                        {% else %}
                            {% ifequal insert-status.cause :invalid-name %}
                                Error: the episode has an invalid name
                            {% else %}
                                Error: a general error occurred
                            {% endifequal %}
                        {% endifequal %}
                    </div>
                {% endifequal %}
            {% endif %}
        </div>

        {% if not insert-status %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
	            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="js/bootstrap-datepicker.min.js"></script>
            <script src="js/parser.js"></script>
            <script>
                $('form').validate();

                $('#date').datepicker({
                    format: 'dd.mm.yyyy',
                    weekStart: 1,
                    todayBtn: true,
                    todayHighlight: true
                });

                // Handler for the submit button click event
                var clickHandler = function (event) {
                    var tracklistTa = document.getElementById('tracklist'),
                        tlArrayWithEmptyLines = tracklistTa.value.split('\n');
                    var tlArray = tlArrayWithEmptyLines.filter(function (value) {
                        return value.length > 0;
                    });

                    // Validate date
                    if (!/^\d{1,2}\.\d{1,2}\.\d{4}$/.test(document.getElementById('date').value)) {
                        alert('Error: episode date has invalid format!');
                        event.preventDefault();
                        return;
                    }

                    if (tlArray.length > 0) {
                        var encodedTracklist = parseTracklist(tlArray);
                        if (encodedTracklist.length < 5) {
                            alert('Error: tracklist is too short!');
                            event.preventDefault();
                            return;
                        }
                        document.getElementById('encodedTracklist').value = JSON.stringify(encodedTracklist);
                    }

                    // Trim name to prevent name validation error
                    document.getElementById('name').value = document.getElementById('name').value.trim();
                };

                document.getElementById('submitBtn').addEventListener('click', clickHandler, false);
            </script>
        {% endif %}
    </body>
</html>
