<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="css/common.css" rel="stylesheet">
        <link href="css/tablesort.css" rel="stylesheet">

        <title>KTRA indexer - show episode for track</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">KTRA indexer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/{{ url-path }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tracks in episode</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            {% ifunequal episodes|length 0 %}
            <h2>Episodes where {{ track }} is played</h2>

            <table id="episode-table" class="table" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Track</th>
                        <th>Episode</th>
                </thead>
                <tbody>
                    {% for ep in episodes %}
                        <tr>
                            <td>{{ ep.artist }}</td>
                            <td>{{ ep.track }}</td>
                            <td><a href="view?id={{ ep.number }}">{{ ep.ep-name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger">Could not find any episode(s) where {{ track }} was played</div>
            {% endifunequal %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/tablesort@5.2.1/src/tablesort.min.js"></script>
        <script>
            new Tablesort(document.getElementById('episode-table'));
        </script>
    </body>
</html>
