{:database {:db-openshift "ktra"
            ;; Database parameters
            ;; Sample values
            :host "localhost"
            :db "ktra"
            :port "5432"
            :user "foobar"
            :password "123"
            }
 ;; Yubico OTP parameters
 ;; Sample values
 :yubico-client-id "12345"
 :yubico-secret-key "/xyz="
 :in-production true}
